td.Etiqueta
{
	background-color:Transparent;
}
td.Separador
{
	background-color:Transparent;
}
td.Campo
{
	background-color: Transparent;
}
td.MargenSuperior
{
	background-color:Transparent;
}
td.MargenInferior
{
	background-color:Transparent;
}
td.MargenDerecho
{
	background-color:Transparent;
}
td.MargenIzquierdo
{
	background-color:Transparent;
}
